[submodule "components/websocket"]
	path = components/websocket
	url = https://github.com/klaus-liebler/esp32-websocket.git
[submodule "components/esp32-websocket"]
	path = components/websocket
	url = https://github.com/Molorius/esp32-websocket.git