doctype html  
html(lang='en')  
  head
    title Pug
    link(rel="stylesheet" type="text/css" href="../wwwdist/index.css" inline)
  body
    h1 Pug Examples
    div.container
      p Cool Pug example!